{% extends 'accounts/layout_verification.html' %}

{% load static %}

{% block verification %}

<div style="margin-top: 10px; margin-left: auto; margin-right: auto; margin-bottom:150px; border-radius: 25px; width:500px; height: 550px; padding: 20px; background-color:rgb(240,240,240);">
    <h1 style="text-align:center; margin-top:40px; margin-bottom:40px;">Phone Number</h1>

    <img src="{% static 'accounts/signup_img.PNG' %}" width="200px" height="150px" style="margin-left:30px;">

    <div style="font-family:sans-serif; margin-top:30px; margin-bottom:70px; margin-left:30px;">
        <h5>Get a verification</h5>
        <p>A verification code will be sent to Phone Number</p>
    </div>

    <a href="{% url 'accounts:email_verification' %}" style="margin-left:30px; font-size:16px; font-family:sans-serif;">Try another method</a>

    <button style="height:40px; width:100px; background-color:blue; margin-left:160px; color:white; border-radius:7px;">Send</button>
</div>

{% endblock %}